.progress{
    width: 100%;
    height: 5px;
}
.container{
    width: 60%;
}
.control>.radio{
    font-weight: normal;
    padding: 20px;
    margin-right: 100px;    
    font-size: 18px;
    text-align: center;
}
.input1>.input{
    width: 25%;
    margin : 20px;
    margin-left: 0%;
    height: 50px;
}
.control>.input{
    width: 40%;
    margin : 20px;
    margin-left: 0%;
    height: 50px;
}


.buttons{
    margin-left: 30%;
    display: inline;
    float: left;
}

.label {
    /* Center the content horizontally */
    align-items: center;
    display: inline-flex;

    /* Cursor */
    cursor: pointer;
}

.label__input {
    /* Hide it */
    display: none;
}

.label__circle {
    /* Rounded border */
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 9999px;

    /* Spacing */
    margin-right: 8px;
    padding: 4px;
}

.label__radio {
    /* Rounded border */
    border-radius: 9999px;
    height: 16px;
    width: 16px;
    /* For not selected radio */
    background-color: transparent;
       
}

.label__radio--selected {
    /* For selected radio */
    background-color: rgb(107, 180, 223);
}

.error-message{
    color: #cc0033;
    display: inline;
    font-size: 15px;
    line-height: 15px;
    margin: 5px 0 0;
  }

