#logo{
    height:6vh;
}
.search_filter
{
    position: relative;
    margin-top:5vh;margin-left:40px ;
}
.filter{
    margin-left: 40px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
mat-card{
    width:450px;
}